.best{
    text-align: center;
    color: rgb(15, 15, 15);

}
.i{
    color: rgb(73, 63, 63);
    text-decoration: underline;
}
nav{
    background-color: grey;
    height: 60px;
    padding: 10px;
}
.search{
    color: black;
    margin-top: 30px;
    /* margin-left:100px; */
}

.click{
    background-color: rgb(250, 109, 14);
    height: 100%;
}
.tour{
    font-family: cursive;
    margin-right: 500px;
    color:rgb(15, 15, 15);
    margin-top: 10px;
}

.img img{
  height:600px;
    width: 1350px;
    margin-top: 10px;
}
.bus{
    /* margin-left: 50px; */
    margin-top: 10px;
   text-align: center;
   display: flex;
}
.bus h1{
    color: rgb(241, 231, 231);
   
}
.nav:hover{
 color: white;
}
